:root {
  --color-light-gray: #fbfbfb;
  --color-transparent-dark-gray: #2e2e2e00;
  --color-pink: #d6186f;
  --color-dark-gray: #2e2e2e;
  --color-white: #ffffff;
  --color-medium-gray: #cfcfcf;
  --color-dark-pink: #871d46;
  --color-off-white: #fcfcfc;
  --color-darker-gray: #3d3d3d;
  --color-charcoal: #3c3c3c;
  --color-transparent-black: #00000029;
  --color-clear: #00000000;
  --color-dark-charcoal: #222222;
  --color-gray: #737373;

  /* content width */
  --content-width: 1200px;
}

.welcome-message {
  display: flex;
  max-width: 1300px;
  justify-content: space-between;

  gap: 1rem;
  padding: 0 20px;
  margin: 4rem auto 0 auto;

  @media (max-width: 877px) {
    flex-direction: column-reverse;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    .text-content {
      display: flex;
      flex-direction: column;
      gap: 0.9rem;
      max-height: 500px;
      overflow: hidden;
      transition: max-height 0.3s ease;
      @media screen and (max-width: 992px) and (min-width: 877px) {
        height: 390px;
      }
      @media (max-width: 877px) {
        height: auto;
      }
      h2 {
        color: var(--color-pink);
        font-size: 2rem;
      }
      p {
        color: var(--color-darker-gray);
        font-size: 0.9rem;
        font-weight: 600;

        &.show-more {
          max-height: 500px;
        }

        .more-text {
          display: none;
        }
      }
    }
    button {
      margin-top: 1rem;
      padding: 0.7rem;
      background-color: var(--color-dark-pink);
      border: none;
      color: var(--color-white);
    }
  }
  img {
    height: 550px;
    width: auto;
    object-fit: fill;
    @media screen and (max-width: 992px) and (min-width: 877px) {
      height: 450px;
    }
    @media (max-width: 877px) {
      height: auto;
    }
  }
}
