@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --color-light-gray: #fbfbfb;
  --color-transparent-dark-gray: #2e2e2e00;
  --color-pink: #d6186f;
  --color-dark-gray: #2e2e2e;
  --color-white: #ffffff;
  --color-medium-gray: #cfcfcf;
  --color-dark-pink: #871d46;
  --color-off-white: #fcfcfc;
  --color-darker-gray: #3d3d3d;
  --color-charcoal: #3c3c3c;
  --color-transparent-black: #00000029;
  --color-clear: #00000000;
  --color-dark-charcoal: #222222;
  --color-gray: #737373;

  /* content width */
  --content-width: 1200px;
}

:root,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.max-width-container {
  max-width: var(--content-width);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 20px;
  gap: 2rem;
}

.heading {
  color: var(--color-pink);
  text-align: center;
  font-size: 2rem;
}
.flex-gap {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.footer {
  .main {
    background-color: var(--color-dark-pink);
    padding: 50px 20px;
    color: var(--color-white);
    .footer-links-address {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .address-wrapper {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .address {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .street {
            font-size: larger;
          }
          p {
            font-size: medium;
          }
        }

        .time-socials-wrapper {
          width: 100%;
          display: flex;
          gap: 2rem;
          .socials {
            display: flex;
            gap: 1rem;
            .action-icon {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 5px;
              border-radius: 999px;
              background-color: var(--color-pink);
              height: 30px;
              width: 30px;
            }
            a {
              color: var(--color-white);
            }
          }
        }
      }
      .links-wrapper {
        display: flex;
        gap: 4rem;
        .links-heading {
          h3 {
            font: normal normal bold 20px/30px;
          }
          ul {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            gap: 10px;
            list-style-type: none;
          }
          a {
            text-decoration: none;
            color: var(--color-off-white);
            font: normal normal normal 20px/30px;
          }
        }
        .blogLinks {
          h3 {
            font: normal normal bold 20px/30px;
          }
          ul {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            gap: 10px;
            list-style-type: none;
            font: normal normal bold 20px/30px;
          }
          a {
            text-decoration: none;
            color: var(--color-off-white);
            font-weight: bold;
          }
        }
      }
      @media only screen and (max-width: 1000px) {
        flex-direction: column;
        gap: 3rem;
        .address-wrapper {
          width: 100%;
          justify-content: center;
          align-items: center;
          .time-socials-wrapper {
            justify-content: center;
          }
        }
        .links-wrapper {
          width: 100%;
          flex-wrap: wrap;
          justify-content: center;
        }
      }
      @media only screen and (max-width: 620px) {
        flex-direction: column;
        .address-wrapper {
          width: 100%;
        }
        .links-wrapper {
          justify-content: left;
        }
      }
    }
  }
  .rights {
    background-color: var(--color-dark-gray);
    padding: 20px;
    .rights-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      @media only screen and (max-width: 600px) {
        flex-direction: column;
        padding: 20px;
        gap: 10px;
        p {
          text-align: center;
        }
      }
    }
    p {
      color: var(--color-white);
    }
  }
}
