<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="question-section">
      <div class="question-text">
        <h3>Question tex goes here</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          scelerisque volutpat nunc, eget congue nibh cursus et. Nullam aliqu
          am, urna blandit tempus posuere, mauris enim consectetur orci, sed
          ultricies odio mi a elit. Morbi euismod
        </p>
      </div>
      <div class="question-text">
        <h3>Question tex goes here</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          scelerisque volutpat nunc, eget congue nibh cursus et. Nullam aliqu
          am, urna blandit tempus posuere, mauris enim consectetur orci, sed
          ultricies odio mi a elit. Morbi euismod
        </p>
      </div>
    </div>
  </body>
</html>
