<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Content tab</title>
    <link rel="stylesheet" href="contentTab.css" />
  </head>
  <body>
    <div class="content-tab-container">
      <aside class="sidebar">
        <nav>
          <ul>
            <li data-tab="burst-pipes">Burst Pipes</li>
            <li data-tab="burst">Burst</li>
            <li data-tab="frozen-pipes" class="active">Frozen Pipes</li>
            <li data-tab="garbage-disposals">Garbage Disposals</li>
            <li data-tab="sewer-lines">Sewer Lines</li>
            <li data-tab="sinks-faucets">Sinks & Faucets</li>
            <li data-tab="sump-pumps">Sump Pumps</li>
            <li data-tab="toilets">Toilets</li>
            <li data-tab="water-heaters">Water Heaters</li>
            <li data-tab="water-lines">Water Lines</li>
          </ul>
        </nav>
      </aside>
      <main class="content">
        <div>
          <img
            src="/assets/services/viewService/contentCover.png"
            alt="Frozen pipes"
            class="header-image"
          />
        </div>
        <section class="main-content">
          <h1>Frozen Pipes</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            scelerisque volutpat nunc, eget congue nibh cursus et. Nullam
            aliquam, urna blandit tempus posuere, mauris enim consectetur orci,
            sed ultricies odio mi a elit. Morbi euismod condimentum mauris, sit
            amet viverra arcu ultrices non. Proin semper lectus id nisi luctus
            placerat. Fusce ac scelerisque ipsum. Integer lobortis at magna at
            finibus. Praesent ultrices non ipsum nec consequat.
          </p>
          <p>
            Phasellus molestie vitae mi et lacinia. Duis ut varius tortor, in
            ornare mauris. Phasellus porta turpis sed augue consequat, vitae
            sollicitudin magna pretium. Nam vestibulum iaculis quam, eget tempus
            tellus. Sed lorem ex, aliquet eu turpis non, convallis interdum
            nunc. Quisque vulputate urna dolor.
          </p>
          <p>
            Etiam viverra eleifend dolor, sed mollis arcu commodo id. Mauris
            eget ex orci. Etiam sollicitudin est semper nunc ultrices euismod.
            Fusce pretium iaculis nisi. Vivamus viverra malesuada mauris, ac
            finibus sapien rutrum id. Maecenas cursus orci non bibendum porta.
            Curabitur ac velit sit amet arcu blandit rhoncus. Mauris congue
            accumsan enim at viverra. Quisque suscipit viverra dolor, imperdiet
            vulputate eros tincidunt eget.
          </p>
          <div class="list-container">
            <ul>
              <li>Lorem Ipsum Dolor Sit</li>
              <li>Lorem Ipsum Dolor Sit</li>
              <li>Lorem Ipsum Dolor Sit</li>
            </ul>
            <ul>
              <li>Lorem Ipsum Dolor Sit</li>
              <li>Lorem Ipsum Dolor Sit</li>
              <li>Lorem Ipsum Dolor Sit</li>
            </ul>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
