<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="blogs-wrapper">
      <h2 class="heading">Latest Blogs and News</h2>
      <div class="card-grid">
        <!-- card 1 -->
        <div class="card-wrapper">
          <div class="card">
            <img
              src="/assets/components/blogs/Mask Group 5@2x.png"
              alt="card 1"
              class="card-img"
            />
            <div class="card-details">
              <p class="date">June 19, 2024</p>
              <h3 class="card-label">How to clean grease out of sink drains</h3>
            </div>
          </div>
        </div>
        <!-- card 2 -->
        <div class="card-wrapper">
          <div class="card">
            <img
              src="/assets/components/blogs/Mask Group 6@2x.png"
              alt="card 1"
              class="card-img"
            />
            <div class="card-details">
              <p class="date">June 19, 2024</p>
              <h3 class="card-label">How to clean grease out of sink drains</h3>
            </div>
          </div>
        </div>
        <!-- card 3 -->
        <div class="card-wrapper">
          <div class="card">
            <img
              src="/assets/components/blogs/Mask Group 7@2x.png"
              alt="card 1"
              class="card-img"
            />
            <div class="card-details">
              <p class="date">June 19, 2024</p>
              <h3 class="card-label">How to clean grease out of sink drains</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
