<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog View</title>
    <link rel="stylesheet" href="viewBlog.css" />
  </head>
  <body>
    <div class="blo-view-container">
      <div class="blo-view-header">
        <p class="blo-view-category-date">Category Name | May 17, 2024</p>
        <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
      </div>
      <img
        src="/assets/blog/viewBlog/view-blog1.png"
        alt="Man in pink shirt facing American flag"
        class="blo-view-main-image"
      />
      <div class="blo-view-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          scelerisque volutpat nunc, eget congue nibh cursus et. Nullam aliquam,
          urna blandit tempus posuere, mauris enim consectetur orci, sed
          ultricies odio mi a elit. Morbi euismod condimentum mauris, sit amet
          viverra arcu ultricies non. Proin semper lectus id nisi luctus
          placerat. Fusce ac scelerisque ipsum. Integer lobortis at magna at
          finibus. Praesent ultricies non ipsum nec consequat. Nulla ultricies
          in metus sit amet tempus. Praesent nec laoreet nulla. Etiam at
          accumsan lacus. Curabitur ex lorem, posuere accumsan mi et, accumsan
          ullamcorper nunc. Cras lacinia faucibus arcu. Nunc sed arcu ultricies,
          molestie dolor vulputate, interdum nisi.
        </p>
        <p>
          Phasellus molestie vitae mi et lacinia. Duis eu varius tortor, in
          ornare mauris. Phasellus porta turpis sed augue consequat, vitae
          sollicitudin magna pretium. Nam vestibulum iaculis quam, eget tempus
          tellus. Sed lorem ex, aliquet eu turpis non, convallis interdum nunc.
          Quisque vulputate urna dolor. Donec aliquam enim et tortor congue, ac
          commodo sapien mattis. Cras dapibus iaculis lacinia. Integer eu
          eleifend nunc.
        </p>

        <p>
          Phasellus molestie vitae mi et lacinia. Duis eu varius tortor, in
          ornare mauris. Phasellus porta turpis sed augue consequat, vitae
          sollicitudin magna pretium. Nam vestibulum iaculis quam, eget tempus
          tellus. Sed lorem ex, aliquet eu turpis non, convallis interdum nunc.
          Quisque vulputate urna dolor. Donec aliquam enim et tortor congue, ac
          commodo sapien mattis. Cras dapibus iaculis lacinia. Integer eu
          eleifend nunc.
        </p>

        <p>
          Phasellus molestie vitae mi et lacinia. Duis eu varius tortor, in
          ornare mauris. Phasellus porta turpis sed augue consequat, vitae
          sollicitudin magna pretium. Nam vestibulum iaculis quam, eget tempus
          tellus. Sed lorem ex, aliquet eu turpis non, convallis interdum nunc.
          Quisque vulputate urna dolor. Donec aliquam enim et tortor congue, ac
          commodo sapien mattis. Cras dapibus iaculis lacinia. Integer eu
          eleifend nunc.
        </p>
      </div>
      <img
        src="/assets/blog/viewBlog/view-blog2.png"
        alt="Bearded man in pink shirt and cap"
        class="blo-view-secondary-image"
      />
      <div class="blo-view-content">
        <p>
          Phasellus molestie vitae mi et lacinia. Duis eu varius tortor, in
          ornare mauris. Phasellus porta turpis sed augue consequat, vitae
          sollicitudin magna pretium. Nam vestibulum iaculis quam, eget tempus
          tellus. Sed lorem ex, aliquet eu turpis non, convallis interdum nunc.
          Quisque vulputate urna dolor. Donec aliquam enim et tortor congue, ac
          commodo sapien mattis. Cras dapibus iaculis lacinia. Integer eu
          eleifend nunc.
        </p>

        <p>
          Phasellus molestie vitae mi et lacinia. Duis eu varius tortor, in
          ornare mauris. Phasellus porta turpis sed augue consequat, vitae
          sollicitudin magna pretium. Nam vestibulum iaculis quam, eget tempus
          tellus. Sed lorem ex, aliquet eu turpis non, convallis interdum nunc.
          Quisque vulputate urna dolor. Donec aliquam enim et tortor congue, ac
          commodo sapien mattis. Cras dapibus iaculis lacinia. Integer eu
          eleifend nunc.
        </p>

        <p>
          Phasellus molestie vitae mi et lacinia. Duis eu varius tortor, in
          ornare mauris. Phasellus porta turpis sed augue consequat, vitae
          sollicitudin magna pretium. Nam vestibulum iaculis quam, eget tempus
          tellus. Sed lorem ex, aliquet eu turpis non, convallis interdum nunc.
          Quisque vulputate urna dolor. Donec aliquam enim et tortor congue, ac
          commodo sapien mattis. Cras dapibus iaculis lacinia. Integer eu
          eleifend nunc.
        </p>
        <p>
          Phasellus molestie vitae mi et lacinia. Duis eu varius tortor, in
          ornare mauris. Phasellus porta turpis sed augue consequat, vitae
          sollicitudin magna pretium. Nam vestibulum iaculis quam, eget tempus
          tellus. Sed lorem ex, aliquet eu turpis non, convallis interdum nunc.
          Quisque vulputate urna dolor. Donec aliquam enim et tortor congue, ac
          commodo sapien mattis. Cras dapibus iaculis lacinia. Integer eu
          eleifend nunc.
        </p>
      </div>
    </div>
  </body>
</html>
