<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hero</title>
    <link rel="stylesheet" href="hero.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <section class="hero">
      <div class="content-wrapper">
        <div class="left-content">
          <h1 class="title">
            Fast, Reliable Plumbing Solutions in Greater Cincinnati.
          </h1>
          <p class="description">
            Our immediate-response team is top-rated for all of your emergency
            plumbing and drain cleaning needs.
          </p>
          <div class="actions">
            <button class="button-field">Call Us. We're Standing By!</button>
            <button class="button-outline">Schedule An Appointment</button>
          </div>
        </div>
        <div class="right-content">
          <div class="contact">
            <div class="contact-item">
              <h3 class="contact-title">1-Tom-Plumber Greater Cincinnati</h3>
              <p class="contact-address">
                <img
                  src="../../assets/home/Path 2 (1).svg"
                  alt="location"
                  class="location-img"
                />24 Whitney Dr, Milford, OH 45150, USA
              </p>
              <a class="contact-link" href="#">Get Directions</a>
            </div>
            <div class="contact-item">
              <p class="contact-phone">For Immediate Help</p>
              <a class="contact-phone-link" href="tel:1-513-286-2060"
                >1-513-286-2060</a
              >
              <a
                class="contact-email"
                href="mailto:greatercincinnati@1tomPlumber.com"
                >greatercincinnati@1tomPlumber.com</a
              >
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-inner">
            <h3>Plumbing</h3>
            <h3>Drain Cleaning</h3>
            <h3>Water Damage Restoration</h3>
            <h3>Excavation</h3>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
