:root {
  --color-light-gray: #fbfbfb;
  --color-transparent-dark-gray: #2e2e2e00;
  --color-pink: #d6186f;
  --color-dark-gray: #2e2e2e;
  --color-white: #ffffff;
  --color-medium-gray: #cfcfcf;
  --color-dark-pink: #871d46;
  --color-off-white: #fcfcfc;
  --color-darker-gray: #3d3d3d;
  --color-charcoal: #3c3c3c;
  --color-transparent-black: #00000029;
  --color-clear: #00000000;
  --color-dark-charcoal: #222222;
  --color-gray: #737373;

  /* for max width: ; */
  --content-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-main {
  position: relative;

  .hero {
    position: relative;
    background-image: url("/assets/home/image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: 768px) {
      height: auto;
    }

    .main-content-wrapper {
      height: 85vh;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      background: transparent
        linear-gradient(180deg, #2e2e2e00 0%, #2e2e2e 100%) 0% 0% no-repeat
        padding-box;
      @media (max-width: 768px) {
        height: 60vh;
      }
      .content-wrapper {
        max-width: var(--content-width);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        z-index: 20;
        gap: 4rem;
        padding: 4rem 1rem;
        color: var(--color-white);
        margin-bottom: 4rem;

        @media (max-width: 768px) {
          align-items: flex-end;
          justify-content: flex-end;
          gap: 1rem;
          margin: 16rem 0 0 0;
          padding: 0;
        }
      }
    }

    .left-content {
      flex: 1;
      margin-right: 4rem;

      @media (max-width: 768px) {
        margin-right: 0;
        margin-bottom: 0;
      }
    }

    .title {
      font-size: 2.5rem;
      font-weight: bold;
      color: var(--color-white);
      margin-bottom: 1rem;
      width: 95%;
      z-index: 20;

      @media (max-width: 768px) {
        font-size: 28px;
        width: 100%;
        padding: 0 1.5rem;
      }
    }

    .description {
      font-size: 1.2rem;
      color: var(--color-light-gray);
      margin-bottom: 2rem;
      @media (max-width: 768px) {
        padding: 0 1.5rem;
        font-size: 16px;
      }
    }

    .actions {
      display: flex;
      gap: 1rem;
      margin-bottom: 2rem;

      @media (max-width: 768px) {
        gap: 0;
        margin-bottom: 0;
        width: 100%;
      }
    }

    .button-field {
      background-color: var(--color-dark-pink);
      color: var(--color-white);
      border: none;
      padding: 0.8rem 2rem;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--color-pink);
      }

      @media (max-width: 768px) {
        display: none;
      }
    }
    .button-field-mob {
      display: none;
      background-color: var(--color-dark-gray);
      transition: background-color 0.3s ease;
      cursor: pointer;
      color: var(--color-white);
      font-size: 1rem;
      padding: 1rem 1.5rem;
      width: 100%;
      border: none;
      &:hover {
        background-color: var(--color-pink);
      }
      @media (max-width: 768px) {
        display: block;
      }
      i {
        margin-right: 0.5rem;
        color: var(--color-white);
      }
    }
    .button-outline {
      background-color: var(--color-white);
      color: var(--color-dark-pink);
      border: none;
      padding: 0.8rem 2rem;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--color-medium-gray);
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    .button-outline-mob {
      display: none;
      border: none;
      background-color: var(--color-dark-pink);
      color: var(--color-white);
      transition: background-color 0.3s ease;
      cursor: pointer;
      font-size: 1rem;
      padding: 1rem 1.5rem;
      width: 100%;
      &:hover {
        background-color: var(--color-medium-gray);
        color: var(--color-dark-gray);
      }
      @media (max-width: 768px) {
        display: block;
      }
    }

    .right-content {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-dark-pink);
      border: 3px solid var(--color-white);
      padding: 2rem;
      height: auto;
      width: 364px;
      transform: translateX(2.8rem);

      @media (max-width: 768px) {
        height: auto;
        padding: 0 2rem;
        margin: 0 auto;
        position: absolute;
        display: none;
      }

      .contact {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        gap: 1rem;

        @media (max-width: 768px) {
          flex-direction: column;
          align-items: flex-start;
          padding: 1rem 0;
        }
      }

      .contact-item {
        display: flex;
        flex-direction: column;

        span {
          cursor: pointer;
        }
      }

      .contact-title {
        font-size: 24px;
        font-weight: bold;
        color: var(--color-white);
        margin-bottom: 0.5rem;
      }

      .contact-address {
        font-size: 16px;
        color: var(--color-white);
        margin: 0.5rem 0;

        .location-img {
          color: var(--color-white);
          margin-right: 10px;
        }
      }

      .contact-link {
        font-size: 16px;
        color: var(--color-white);
        text-decoration: none;

        &:hover {
          color: var(--color-light-gray);
        }
      }

      .contact-phone {
        font-size: 22px;
        color: var(--color-white);
        margin-bottom: 0.5rem;
        margin-top: 1rem;
      }

      .contact-phone-link {
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--color-white);
        text-decoration: none;
      }

      .contact-email {
        font-size: 1rem;
        color: var(--color-light-gray);
        text-decoration: none;

        &:hover {
          color: var(--color-light-gray);
        }
      }
    }
  }

  .right-content-mob {
    display: none;

    @media (max-width: 768px) {
      height: auto;
      padding: 0.5rem 0.5rem 1rem 0.5rem;
      display: block;
      justify-content: center;
      align-items: center;
      background-color: #4c4f52;
    }

    .contact {
      @media (max-width: 768px) {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: var(--color-dark-pink);
        border: 3px solid var(--color-white);
        width: 100%;
        gap: 1rem;
        align-items: flex-start;
        padding: 1.5rem 1rem;
      }
    }

    .contact-item {
      display: flex;
      flex-direction: column;
    }

    .contact-title {
      font-size: 24px;
      font-weight: bold;
      color: var(--color-white);
      margin-bottom: 0.5rem;
    }

    .contact-address {
      font-size: 16px;
      color: var(--color-white);
      margin: 0.5rem 0;

      .location-img {
        color: var(--color-white);
        margin-right: 10px;
      }
    }

    .contact-link {
      font-size: 16px;
      color: var(--color-white);
      text-decoration: none;

      &:hover {
        color: var(--color-light-gray);
      }
    }

    .contact-phone {
      font-size: 22px;
      color: var(--color-white);
      margin-bottom: 0.5rem;
      margin-top: 1rem;
    }

    .contact-phone-link {
      font-size: 1.2rem;
      font-weight: bold;
      color: var(--color-white);
      text-decoration: none;

      &:hover {
        color: var(--color-pink);
      }
    }

    .contact-email {
      font-size: 1rem;
      color: var(--color-light-gray);
      text-decoration: none;

      &:hover {
        color: var(--color-light-gray);
      }
    }
  }

  .card {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    z-index: 30;
    .card-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--color-pink);
      color: var(--color-white);
      padding: 2rem 6rem;
      max-width: 1260px;
      margin: 0 auto;
      height: auto;

      @media (max-width: 768px) {
        flex-direction: column;
        padding: 1rem 0 1rem 1.5rem;
        align-items: flex-start;
        font-size: 18px;
        gap: 1.5rem;
        max-width: 100%;
      }
    }
    @media (max-width: 768px) {
      position: static;
    }
  }
}
