<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="testimonials">
      <h2 class="heading">Customer Testimonials</h2>
      <div class="card-grid">
        <div class="card">
          <p>
            “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            scelerisque volutpat nunc, eget congue nibh cursus et. Nullam aliqu
            am, urna blandit tempus posuere, mauris enim consectetur orci, sed
            ultricies odio mi a elit.” Morbi euismod condimentum mauris, sit
            amet viverra arcu ultrices non. Proin sem”
          </p>
          <div>
            <h3>Anonymous</h3>
            <h3>Greater Cincinnati</h3>
          </div>
        </div>
        <div class="card">
          <p>
            “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            scelerisque volutpat nunc, eget congue nibh cursus et. Nullam aliqu
            am, urna blandit tempus posuere, mauris enim consectetur orci, sed
            ultricies odio mi a elit.” Morbi euismod condimentum mauris, sit
            amet viverra arcu ultrices non. Proin sem”
          </p>
          <div>
            <h3>Anonymous</h3>
            <h3>Greater Cincinnati</h3>
          </div>
        </div>
        <button><i class="fa-solid fa-arrow-right"></i></button>
      </div>
    </div>
  </body>
</html>
