:root {
  --color-light-gray: #fbfbfb;
  --color-transparent-dark-gray: #2e2e2e00;
  --color-pink: #d6186f;
  --color-dark-gray: #2e2e2e;
  --color-white: #ffffff;
  --color-medium-gray: #cfcfcf;
  --color-dark-pink: #871d46;
  --color-off-white: #fcfcfc;
  --color-darker-gray: #3d3d3d;
  --color-charcoal: #3c3c3c;
  --color-transparent-black: #00000029;
  --color-clear: #00000000;
  --color-dark-charcoal: #222222;
  --color-gray: #737373;

  /* content width */
  --content-width: 1200px;
}

.testimonials {
  padding: 5rem 60px 0 60px;
  margin-bottom: 2rem;
  max-width: var(--content-width);
  margin: 0 auto;
  @media (max-width: 769px) {
    padding: 0 20px;
  }
  .card-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    position: relative;
    @media (max-width: 800px) {
      grid-template-columns: 1fr;
    }

    .card {
      box-shadow: 0px 0px 12px #00000029;
      padding: 10px;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      gap: 1rem;
      padding: 2rem;
      .author {
        p {
          color: var(--color-gray);
        }
        h3 {
          font-size: normal;
          font-weight: 400;
          color: var(--color-darker-gray);
        }
      }
    }
    button {
      position: absolute;
      right: -60px;
      top: 50%;
      padding: 1rem 1.2rem;
      cursor: pointer;
      border-radius: 5px;
      background-color: var(--color-dark-pink);
      border: none;
      color: var(--color-white);
      transition: background-color 0.3s ease;
      &:hover {
        background-color: var(--color-pink);
      }
      @media (max-width: 800px) {
        display: none;
      }
    }
  }
}
