<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
  </head>
  <body>
    <!-- Footer Start -->
    <!-- footer start -->
    <footer class="footer">
      <div class="main">
        <div class="max-width-container">
          <div class="footer-links-address">
            <div class="address-wrapper">
              <div class="address">
                <p class="street">1-Tom-Plumber Greater Cincinnati</p>
                <p>24 Whitney Dr, Milford, OH 45150, USA</p>
                <p>1-513-286-2060</p>
              </div>

              <div class="time-socials-wrapper">
                <h3>Open 24 hours</h3>
                <div class="socials">
                  <span class="action-icon" target="_blank"
                    ><a href=""><i class="fa-brands fa-instagram"></i></a>
                  </span>
                  <span class="action-icon"
                    ><a href="#" target="_blank"
                      ><i class="fa-brands fa-facebook"></i
                    ></a>
                  </span>
                </div>
              </div>
            </div>
            <div class="links-wrapper">
              <!-- Links -->
              <!-- Services -->
              <div class="links-heading">
                <h3>Services</h3>
                <ul>
                  <li>
                    <a href="#">Plumbing</a>
                  </li>
                  <li>
                    <a href="#">Drain cleaning</a>
                  </li>
                  <li>
                    <a href="#">Water Damage Response</a>
                  </li>
                  <li>
                    <a href="#">Evacuation</a>
                  </li>
                </ul>
              </div>
              <!-- About Us -->
              <div class="links-heading">
                <h3>About Us</h3>
                <ul>
                  <li>
                    <a href="#">Testimonials</a>
                  </li>
                  <li>
                    <a href="#">Local Projects</a>
                  </li>
                </ul>
              </div>
              <!-- Blog -->
              <div class="blogLinks">
                <h3>Blog</h3>
                <ul>
                  <li>
                    <a href="#">Contact</a>
                  </li>
                  <li>
                    <a href="#">FAQs</a>
                  </li>
                  <li>
                    <a href="#">Emergency Services</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="rights">
        <div class="max-width-container">
          <div class="rights-container">
            <p>©2024 1-TOM-PLUMBER GLOBAL. All Rights Reserved.</p>
            <p>Website by NexG</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer start -->
    <!-- Footer End -->
  </body>
</html>
