:root {
  --color-light-gray: #fbfbfb;
  --color-transparent-dark-gray: #2e2e2e00;
  --color-pink: #d6186f;
  --color-dark-gray: #2e2e2e;
  --color-white: #ffffff;
  --color-medium-gray: #cfcfcf;
  --color-dark-pink: #871d46;
  --color-off-white: #fcfcfc;
  --color-darker-gray: #3d3d3d;
  --color-charcoal: #3c3c3c;
  --color-transparent-black: #00000029;
  --color-clear: #00000000;
  --color-dark-charcoal: #222222;
  --color-gray: #737373;

  /* content width */
  --content-width: 1200px;
}

/* Map and stores list */

.contact-wrapper {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  @media (max-width: 877px) {
    flex-direction: column-reverse;
  }
  .left-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    @media (max-width: 877px) {
      width: 100%;
    }
    .content-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      @media (max-width: 877px) {
        width: 100%;
      }

      .cta {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        @media (max-width: 877px) {
          align-items: center;
        }

        form {
          display: flex;
          flex-direction: column;
          gap: 0;
          label {
            font-weight: bold;
            margin: 20px 0 10px 0;
          }
          .input-wrapper {
            display: flex;
            gap: 0;
            input {
              width: 300px;
              padding: 0.5rem 1rem;
              border-radius: 0;
              border: 3px solid var(--color-dark-pink);
            }

            button {
              background-color: var(--color-dark-pink);
              color: var(--color-white);
              border: none;
              padding: 0.5rem 1rem;
              font-size: 1.2rem;
              line-height: normal;
              font-weight: 900;
              cursor: pointer;
            }
          }
        }
      }
      .stores-location-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        .seperator {
          width: 100%;
          height: 2px;
          background-color: var(--color-medium-gray);
          margin: 10px 0;
        }
        .store-location-nearby {
          color: var(--color-darker-gray);
        }
        .store-locations {
          display: flex;
          justify-content: space-between;
          .store-name-address {
            h3 {
              font-size: 1.5rem;
            }
            p {
              font-size: 1rem;
              position: relative;
            }

            p::before {
              content: "";
              display: inline-block;
              background-image: url("/assets/_corporate/Path 2.svg");
              background-size: 16px 16px;
              background-repeat: no-repeat;
              width: 16px;
              height: 16px;
              margin-right: 8px;
              vertical-align: middle;
            }
          }
          .store-number-website {
            color: var(--color-pink);
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: flex-end;
            p {
              font-size: 1.2rem;
              font-weight: bold;
            }
            .view-website-link {
              width: 100%;
              margin: 0 0 0 auto;
              text-align: end;
              color: var(--color-pink);
            }
          }
        }
      }
    }
  }

  .img-container {
    position: relative;
    .map {
      height: 400px;
      width: 550px;
      object-fit: cover;
      @media screen and (max-width: 1100px) and (min-width: 992px) {
        width: 500px;
      }
      @media screen and (max-width: 992px) and (min-width: 877px) {
        width: 450px;
      }
      @media (max-width: 877px) {
        width: 100%;
        height: auto;
      }
    }
    .tag {
      height: 40px;
      width: auto;
      object-fit: cover;
      position: absolute;
      bottom: 50%;
      left: 50%;
    }
  }
}
/* Map and stores list */

/* stores card */

.location-cards {
  .top-margin {
    margin-top: 5rem;
  }
  .dropbtn {
    background-color: #8e2947;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    min-width: 160px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    &::after {
      content: " ▼";
      font-size: 12px;
      margin-top: 3px;
    }
  }
  .dropdown {
    position: relative;
    display: inline-block;

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;

      a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

        &:hover {
          background-color: #f1f1f1;
        }
      }
    }

    &:hover {
      .dropdown-content {
        display: block;
      }

      .dropbtn {
        background-color: #721e38;
      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 4rem;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .location-card {
      padding: 2rem;
      border: 2px solid var(--color-dark-pink);
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: flex-start;
      justify-content: flex-start;
      .img-wrapper {
        width: 95px;
        height: 95px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-pink);
        border-radius: 9999px;
        img {
          height: 90px;
          width: 90px;
          object-fit: cover;
          border-radius: 9999px;
        }
      }
      h3 {
        font: normal normal 600 32px/42px Noto Sans;
      }
      .location {
        font: normal normal 600 18px/30px Noto Sans;
        position: relative;
        padding-left: 2px;
      }
      .location::before {
        content: "";
        display: inline-block;
        background-image: url("/assets/_corporate/Path 2.svg");
        background-size: 16px 16px;
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        margin-right: 8px;
        vertical-align: middle;
        position: absolute;
        left: -18px;
        top: 6px;
      }
      .contact {
        h4 {
          font: normal normal bold 28px/30px Noto Sans;
          color: var(pink);
        }
        p {
          font: normal normal 600 16px/30px Noto Sans;
        }
      }
      .href-btn {
        padding: 0.57em 1.5rem;
        color: var(--color-white);
        background-color: var(--color-dark-pink);
        text-decoration: none;
      }
    }
  }
}

/* stores card */
