:root {
  --color-light-gray: #fbfbfb;
  --color-transparent-dark-gray: #2e2e2e00;
  --color-pink: #d6186f;
  --color-dark-gray: #2e2e2e;
  --color-white: #ffffff;
  --color-medium-gray: #cfcfcf;
  --color-dark-pink: #871d46;
  --color-off-white: #fcfcfc;
  --color-darker-gray: #3d3d3d;
  --color-charcoal: #3c3c3c;
  --color-transparent-black: #00000029;
  --color-clear: #00000000;
  --color-dark-charcoal: #222222;
  --color-gray: #737373;

  /* content width */
  --content-width: 1200px;
}

.who-we-are-section {
  .heading-desc {
    font-size: small;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
  }
  .team-wrapper {
    background-color: var(--color-pink);
    position: relative;
    margin-top: 250px;
    padding: 350px 1rem 5rem 1rem;
    @media screen and (max-width: 1150px) and (min-width: 1000px) {
      margin-top: 250px;
      padding: 250px 1rem 5rem 1rem;
    }
    @media screen and (max-width: 1000px) and (min-width: 850px) {
      margin-top: 250px;
      padding: 200px 1rem 5rem 1rem;
    }
    @media screen and (max-width: 850px) and (min-width: 700px) {
      margin-top: 220px;
      padding: 145px 1rem 5rem 1rem;
    }
    @media screen and (max-width: 700px) and (min-width: 682px) {
      margin-top: 220px;
      padding: 150px 1rem 5rem 1rem;
    }
    @media (max-width: 682px) {
      margin-top: 20px;
      padding: 1rem;
    }

    .owner-pic {
      position: absolute;
      left: 50%;
      top: -200px;
      height: 500px;
      width: auto;
      object-fit: cover;
      transform: translateX(-50%);
      max-width: 1100px;
      margin-top: 0;
      @media (max-width: 1150px) {
        height: auto;
        width: auto;
        max-width: 90vw;
      }
      @media (max-width: 682px) {
        position: relative;
        top: auto;
        margin-bottom: 20px;
      }
    }

    .meet-the-team {
      position: relative;
      .meet-the-team-heading {
        color: var(--color-white);
        text-align: center;
        font-size: 2rem;
        max-width: 850px;
        margin: 0 auto;
      }
      .team-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

        @media (max-width: 900px) {
          grid-template-columns: repeat(1, 1fr);
          gap: 2.5rem;
        }

        .indiv-profile {
          display: flex;
          align-items: center;

          gap: 1rem;
          @media (max-width: 968px) {
            width: 100%;
          }
          @media (max-width: 682px) {
            flex-direction: column;
          }

          .profile-img {
            width: 160px;
            height: 160px;
            object-fit: cover;
          }

          .profile-info {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .owner {
              display: flex;
              flex-direction: column;
              gap: 0;
              h2 {
                color: var(--color-white);
                margin-top: 0;
                @media (max-width: 682px) {
                  text-align: center;
                }
              }
            }

            p {
              color: var(--color-white);
              margin: 5px 0;
              font-size: small;
              @media (max-width: 682px) {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
